h1 {text-align: center;}

body {
	padding: 0;
	margin: 0;
}

#dynamic{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#article{
	position: absolute;
	width: min(calc(90% + calc(6vh - 1vw)), 98%);
	height: 100%;
	max-width: 100%;
	background-color: rgba(180, 180, 180, 0.96);
	padding-left: 2%;
	padding-right: 2%;
	font-size: max(0.9vw, 1.8vh);
	overflow: scroll;
}

#article > table
{
	width: 100%;
	text-align: center;
}

#article > table * > img
{
	max-width: 60vw;
	border: black;
	border-style: solid;
	border-width: 4px;
	box-shadow: 0.3vw 0.3vw;
}

#grid{
	position: relative;
	width: calc(100% - 4vw);
	height: calc(100% - 4vw);
	margin-left: 2vw;
	margin-top: 2vw;
	display: grid;
	grid-template-areas:
	". . . . . . ."
	". . . . . . ."
	". . . . . . ."
	"b b b b b b b"
	"b b b b b b b"
	"c c c c c c c";
	gap: 1vw;
	background-color: rgba(180, 180, 180, 0);
}

#abstract
{
	grid-area: b;
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgba(180, 180, 180, 0.5);
	font-size: max(0.9vw, 1.5vh);
}

#info
{
	grid-area: c;
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgba(180, 180, 180, 0.5);
	font-size: max(0.8vw, 1.4vh);
}

#title{
	position: relative;
	width: 100%;
	height: 18%;
	padding: 0;
	margin: 0;
}

#copyRight
{
	color: black;
	font-size: max(1.2vh, 0.6vw);
}

#thumbnail{
	position: absolute;
	background-color: blue;
	width: 30vh;
	height: 30vh;
	right : min(2%, calc(14vw - 23vh));
	top : 3vh;
	rotate : 10deg;
	max-height: 18vw;
	max-width: 18vw;
	border: black;
	border-style: solid;
	border-width: 4px;
	padding: 0;
	margin: 0;
}

#thumbnail > img
{
	width: 100%;
	height: 100%;
}

#rating{
	position: absolute;
	width: 120%;
	height: 25%;
	top: 90%;
	left : -10%;
	rotate: -6deg;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: black;
	border-style: solid;
	border-width: 4px;
	box-shadow: 0.5vw 0.5vw;
}

#rating > i
{
	top: 50%;
	margin-left: 5%;
	font-size: min(3vh, 2vw);
}

.foreground{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.background{
	position: absolute;
	background-color:#464646;
	width: 100%;
	height: 100%;
	bottom: 0%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#visualBar{
	position: relative;
	width: 90%;
	height: 30%;
	margin-left: 5%;
	margin-right: 5%;
}

#footerBar{
	width: 90%;
	height: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
#topBar{
	width: 90%;
	height: 12%;
	margin-left: 5%;
	margin-right: 5%;
}

#centerBar{
	position: relative;
	width: 90%;
	height: 53%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#options{
	position: relative;
	top: 15%;
	width: 60%;
	max-width: 42vh;
	height: 75%;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	z-index: 0;
}

#hoverButton
{
	position: relative;
	text-align: center;
	font-size: max(2.1vh, 1.2vw);
	margin-top: 1.2vh;
	border-color: #969696;
	border-style: none;
	color: #969696;
	background-color:#464646;
	width: 80%;
	height: calc(60px + max(3vh, 1.3vw));
	transition: color 0.4s, border-color 0.4s, background-color 0.4s, height 0.4s, font-size 0.4s;
}

#hoverButton.disabled
{
	border-color: #96969600;
	color: #96969600;
	background-color:#46464600;
	height: 0px;
	font-size: 0px;
}

#iconContainer
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#iconContainer > i
{
	font-size: 10vh;
}

#hoverButton:hover:not(:disabled)
{
	font-size: max(2.1vh, 1.2vw);
	background-color: #969696;
	color : #464646;
	transition: color 0.5s, border-color 0.5s, background-color 0.5s;
	height: calc(60px + max(3vh, 1.3vw));
}
